html {
  box-sizing: border-box;
}

* * ::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-background: #ffffff;
  --selection-color: #2196f3;
}

body {
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  background: var(--primary-background);
  letter-spacing: 0.03em;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid red;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  background-color: var(--selection-color);
  border-radius: 4px;
  border: 1px solid transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/* Навигация хедера */

header {
  border-bottom: 1px solid #ececec;
}

.container--centered {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
}

.header-nav__navbar {
  display: flex;
  margin-left: 93px;
}

.header-nav__logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.header-nav__logo-accent {
  color: var(--selection-color);
}

.header-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  text-decoration: none;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.header-nav__link-current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  transform: scaleX(1);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav__link-current:hover:after {
  transform: scaleX(0);
  opacity: 0;
}

.header-nav__link-current,
.header-nav__list .header-nav__link:hover,
.header-nav__list .header-nav__link:focus {
  color: var(--selection-color);
}

.header-nav__navbar .header-nav__list + .header-nav__list {
  margin-left: 50px;
}

/* Контакты хедера */

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts .header-contacts__list + .header-contacts__list {
  margin-left: 50px;
}

.header-contacts__link {
  display: flex;
  align-items: center;
  color: var(--secondary-text-color);
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--selection-color);
}

.header-contacts__link:hover .header-contacts__icon,
.header-contacts__link:focus .header-contacts__icon {
  fill: var(--selection-color);
}

.header-contacts__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-contacts__icon {
  margin-right: 10px;
  fill: var(--secondary-text-color);
}

/* Герой */

.hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  align-items: center;
  background: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hero__title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  padding: 10px 32px;
  min-width: 200px;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.15);
}

.hero__button:hover,
.hero__button:focus {
  color: #000000;
  background-color: #c4c4c4;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.15);
}

/* Стратегия */

.strategy {
  display: flex;
  flex-basis: calc(100% / 4 - 30px);
}

.strategy .strategy__list + .strategy__list {
  margin-left: 30px;
}

.strategy__list {
  width: 270px;
}

.strategy__icon {
  width: 270px;
  height: 120px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.strategy__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.strategy__text {
  color: var(--secondary-text-color);
  line-height: 1.71;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Занятия */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section-top {
  padding-top: 0;
}

.work-img {
  display: flex;
  flex-basis: calc(100% / 3 - 30px);
}

.work-img .work-img__list + .work-img__list {
  margin-left: 30px;
}

.work-img__list {
  position: relative;
}

.work-img__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
}

.work-img__title {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
}

/* Команда */

.section-inner {
  background: #f5f4fa;
}

.command {
  display: flex;
  flex-basis: calc(100% / 4 - 30px);
}

.command .command__list + .command__list {
  margin-left: 30px;
}

.command__list {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border: 0 solid #eeeeee;
}

.command__meta {
  padding: 30px 32px;
  background: #ffffff;
}

.command__name {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.command__profession {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.socials {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.socials__item {
  margin-left: 10px;
}

.socials__item:first-child {
  margin-left: 0;
}

.socials__icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__icon:hover svg,
.socials__icon:focus svg {
  fill: #ffffff;
}

.socials__icon:hover,
.socials__icon:focus {
  background-color: var(--selection-color);
}

/* Постоянные клиенты */

.clients-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.clients-list__item {
  border-radius: 4px;
  margin-right: 30px;
}

.clients-list__item:last-child {
  margin-right: 0;
}

.clients-list__icon {
  fill: currentColor;
}

.clients-list__link:hover,
.clients-list__link:focus {
  color: var(--selection-color);
}

.clients-list__link:hover,
.clients-list__link:focus {
  border-color: var(--selection-color);
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  width: 170px;
  height: 92px;
  cursor: pointer;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Фильтеры портфолио */

.filter-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-buttons .filter-buttons__item + .filter-buttons__item {
  margin-left: 8px;
}

.filter-buttons__btn {
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  cursor: pointer;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  border: 0px solid transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-buttons__btn-current,
.filter-buttons__btn:hover,
.filter-buttons__btn:focus {
  color: #ffffff;
  background-color: var(--selection-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.filter-cards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.filter-cards__list {
  width: 370px;
  margin-top: 30px;
  margin-left: 30px;
}

.filter-cards__list:nth-child(-n + 3) {
  margin-top: 0;
}

.filter-cards__link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-cards__link:hover,
.filter-cards__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter-overlay {
  position: relative;
  overflow: hidden;
}

.filter-overlay__text {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  bottom: -100%;
  padding: 63px 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  transition: transform 500ms ease-out;
}

.filter-cards__link:hover .filter-overlay__text,
.filter-cards__link:focus .filter-overlay__text {
  transform: translateY(-100%);
}

.filter-desc {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.filter-desc__title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.filter-desc__text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

/* Футер */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.container--baseline {
  display: flex;
  align-items: baseline;
}

.footer-address {
  width: 231px;
}

.footer-link {
  margin-bottom: 20px;
}

.footer-link__logo-accent {
  color: var(--selection-color);
}

.footer-link__logo-color {
  color: #ffffff;
}

.address {
  font-style: normal;
  font-weight: normal;
  line-height: 1.71;
  color: #ffffff;
}

.address__list {
  margin-bottom: 9px;
}

.address__contact {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__contact:hover,
.address__contact:focus {
  color: var(--selection-color);
}

.join {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  width: 206px;
}

.subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
}

.socials__icon-highlighted {
  fill: #ffffff;
  background: rgba(255, 255, 255, 0.1);
}

/* Форма футера */

.subscribe {
  margin-left: 93px;
}

.form-subscribe__label {
  display: flex;
  visibility: hidden;
}

.form-subscribe__input {
  margin: 0;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: inherit;
  font-style: regular;
  font-size: 16px;
  line-height: 1.25;
  width: 358px;
  margin-right: 8px;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-subscribe__input:hover,
.form-subscribe__input:focus {
  border-color: var(--selection-color);
}

.form-subscribe__button {
  padding: 10px 28px 10px 29px;
  width: 200px;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.15);
}

.form-subscribe__button:hover,
.form-subscribe__button:focus {
  color: #000000;
  background-color: #c4c4c4;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.15);
}

.form-subscribe__button {
  display: inline-flex;
}

.form-subscribe__icon {
  fill: currentColor;
  margin-left: 10px;
}

.form-subscribe__button:hover .form-subscribe__icon,
.form-subscribe__button:focus .form-subscribe__icon {
  color: #000000;
}

/* Модальное окно */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  animation: windowModal 2000ms ease-out;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  justify-content: flex-end;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform 250ms ease-in-out 250ms, opacity 250ms ease-in 250ms;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 0;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.button-close:hover,
.button-close:focus {
  color: var(--selection-color);
}

.button-close__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #000000;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close__icon {
  fill: currentColor;
}

/* Форма */

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 448px;
}

.form__title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
  letter-spacing: 0.03em;
}
.form__field {
  position: relative;
  margin-bottom: 7px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__field:hover,
.form__field:focus {
  color: var(--selection-color);
}

.form__field:focus-within {
  color: var(--selection-color);
}

.form__field label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.form__field input {
  margin-top: 4px;
}

.form__input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 42px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:hover,
.form__input:focus {
  border-color: var(--selection-color);
}

.form__icon {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 11px;
  margin-bottom: 11px;
  margin-left: 12px;
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__field textarea {
  margin-top: 4px;
}

.form__field-end {
  margin-bottom: 17px;
}

.form__field-end textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.form__textarea {
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__textarea:hover,
.form__textarea:focus {
  border-color: var(--selection-color);
}

/* Чекбокс */

.form__agreement {
  position: relative;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.71;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.form__check {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  margin-right: 7px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox:checked + .form__check {
  border-color: var(--selection-color);
  background-color: var(--selection-color);
  background-image: url(../images/icon-check.svg);
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__checkbox:hover,
.form__checkbox:focus {
  border-color: var(--selection-color);
  background-color: var(--selection-color);
}

.form__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--selection-color);
  margin-left: 3px;
}

.form__submit {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px 10px 56px;
}

.form__submit:hover,
.form__submit:focus {
  color: #000000;
  background-color: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Анимация */

@keyframes windowModal {
  0% {
    transform: scale(1);
    transform-origin: bottom left;
  }
  50% {
    transform: scale(0);
    transform-origin: bottom left;
  }
  100% {
    transform: scale(1);
    transform-origin: bottom left;
  }
}
