.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-background;
}

.container--baseline {
  display: flex;
  align-items: baseline;
}

.footer-address {
  width: 231px;
}

.footer-link {
  margin-bottom: 20px;
}

.footer-link__logo--accent {
  color: $selection-color;
}

.footer-link__logo--color {
  color: $primary-color;
}

.address {
  font-style: normal;
  font-weight: normal;
  line-height: 1.71;
  color: $primary-color;
}

.address__list {
  margin-bottom: 9px;
}

.address__contact {
  color: $address-text-color;
  text-decoration: none;
  transition: color 250ms $transition-cubic-bezier;
}

.address__contact:hover,
.address__contact:focus {
  color: $selection-color;
}

.join {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  width: 206px;
}

.join__subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-color;
  margin: 0;
  margin-bottom: 20px;
}

.socials__icon--highlighted {
  fill: $primary-color;
  background: $icon-background-highlighted;
}

/* Форма футера */

.subscribe {
  margin-left: 93px;
}

.subscribe__subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $primary-color;
  margin: 0;
  margin-bottom: 20px;
}

.form-subscribe__label {
  display: flex;
  visibility: hidden;
}

.form-subscribe__input {
  @include bordered(1px, $footer-input-color);
  margin: 0;
  padding: 15px 16px;
  border-radius: $primary-border-radius;
  font-family: inherit;
  font-style: regular;
  font-size: 16px;
  line-height: 1.25;
  width: 358px;
  margin-right: 8px;
  color: $footer-placeholder-color;
  background-color: $footer-background;
  outline: none;
  transition: border 250ms $transition-cubic-bezier;
}

.form-subscribe__input:hover,
.form-subscribe__input:focus {
  border-color: $selection-color;
}

.form-subscribe__button {
  padding: 10px 28px 10px 29px;
  width: 200px;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.15);
}

.form-subscribe__button:hover,
.form-subscribe__button:focus {
  color: $button-hover-color;
  background-color: $button-hover-background;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.15);
}

.form-subscribe__button {
  display: inline-flex;
}

.form-subscribe__icon {
  fill: currentColor;
  margin-left: 10px;
}

.form-subscribe__button:hover .form-subscribe__icon,
.form-subscribe__button:focus .form-subscribe__icon {
  color: $button-hover-color;
}
