.header {
  border-bottom: 1px solid $color-border-header;
}

.container--centered {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
}

.header-nav__navbar {
  display: flex;
  margin-left: 93px;
}

.header-nav__logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  color: $logo-color;
  font-family: $logo-font-family;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}

.header-nav__logo--color {
  color: $selection-color;
}

.header-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $primary-text-color;
  text-decoration: none;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms $transition-cubic-bezier;
  position: relative;
}

.header-nav__link--current::after {
  position: absolute;
  bottom: -1px;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: $selection-color;
  border-radius: 2px;
  transform: scaleX(1);
  opacity: 1;
  transition: transform 250ms $transition-cubic-bezier,
    opacity 250ms $transition-cubic-bezier;
}

.header-nav__link--current:hover:after {
  transform: scaleX(0);
  opacity: 0;
}

.header-nav__link--current,
.header-nav__list .header-nav__link:hover,
.header-nav__list .header-nav__link:focus {
  color: $selection-color;
}

.header-nav__navbar .header-nav__list + .header-nav__list {
  margin-left: 50px;
}

/* Контакты хедера */

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts .header-contacts__list + .header-contacts__list {
  margin-left: 50px;
}

.header-contacts__link {
  display: flex;
  align-items: center;
  color: $secondary-text-color;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 32px 0;
  transition: color 250ms $transition-cubic-bezier;
}

.header-contacts__link:hover,
.header-contacts__link:focus {
  color: $selection-color;
}

.header-contacts__link:hover .header-contacts__icon,
.header-contacts__link:focus .header-contacts__icon {
  fill: $selection-color;
}

.header-contacts__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-contacts__icon {
  margin-right: 10px;
}

.header-contacts__icon--color {
  fill: $secondary-text-color;
}
