.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $backdrop-background;
  opacity: 1;
  transition: opacity 250ms $transition-cubic-bezier;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  animation: windowModal 2000ms ease-out;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background: $primary-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: $primary-border-radius;
  display: flex;
  justify-content: flex-end;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform 250ms ease-in-out 250ms, opacity 250ms ease-in 250ms;
}

.modal__button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 0;
  padding: 0;
  margin: 0;
  @include bordered(1px, $modal-close-border);
  background: $primary-color;
  border-radius: 50%;
  cursor: pointer;
}

.modal__button-close:hover,
.modal__button-close:focus {
  color: $selection-color;
}

.modal__icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: $modal-close-color;
  transition: color 250ms $transition-cubic-bezier;
}

.modal__icon-close {
  fill: currentColor;
}

/* Форма */

.modal-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 448px;
}

.modal-form__title {
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 9px;
  letter-spacing: 0.03em;
}

.modal-form__field {
  position: relative;
  margin-bottom: 7px;
  transition: color 250ms $transition-cubic-bezier;
}

.modal-form__field:hover,
.modal-form__field:focus {
  color: $selection-color;
}

.modal-form__field:focus-within {
  color: $selection-color;
}

.modal-form__field .modal-form__label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: $secondary-text-color;
}

.modal-form__field .modal-form__input {
  margin-top: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border-radius: $primary-border-radius;
  @include bordered(1px, $modal-input-color);
  padding: 12px 42px;
  outline: none;
  transition: border 250ms $transition-cubic-bezier;
}

.modal-form__input:hover,
.modal-form__input:focus {
  border-color: $selection-color;
}

.modal-form__icon {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: 11px;
  margin-bottom: 11px;
  margin-left: 12px;
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: currentColor;
  transition: color 250ms $transition-cubic-bezier;
}
.modal-form__field .modal-form__textarea {
  margin-top: 4px;
}

.modal-form__field--end {
  margin-bottom: 17px;
}

.modal-form__field .modal-form__textarea::placeholder {
  color: $modal-placeholder-color;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.modal-form__textarea {
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border-radius: $primary-border-radius;
  @include bordered(1px, $modal-input-color);
  outline: none;
  transition: border 250ms $transition-cubic-bezier;
}

.modal-form__textarea:hover,
.modal-form__textarea:focus {
  border-color: $selection-color;
}

/* Чекбокс */

.modal-form__agreement {
  position: relative;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.71;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}

.modal-form__check {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  @include bordered(2px, $primary-text-color);
  transition: border 2500ms $transition-cubic-bezier;
}

.modal-form__checkbox:checked + .modal-form__check {
  border-color: $selection-color;
  background-color: $selection-color;
  background-image: url(../images/icon-check.svg);
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 2px;
  transition: background-color 250ms $transition-cubic-bezier;
}

.modal-form__checkbox:hover,
.modal-form__checkbox:focus {
  border-color: $selection-color;
  background-color: $selection-color;
}

.modal-form__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $selection-color;
  margin-left: 3px;
}

.modal-form__submit {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px 10px 56px;
}

.modal-form__submit:hover,
.modal-form__submit:focus {
  color: $button-hover-color;
  background-color: $button-hover-background;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Анимация */

@keyframes windowModal {
  0% {
    transform: scale(1);
    transform-origin: bottom left;
  }
  50% {
    transform: scale(0);
    transform-origin: bottom left;
  }
  100% {
    transform: scale(1);
    transform-origin: bottom left;
  }
}
