.socials {
  display: flex;
  justify-content: center;
}

.socials__item {
  margin-left: 10px;
}

.socials__item:first-child {
  margin-left: 0;
}

.socials__icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: $icon-color;
  transition: fill 250ms $transition-cubic-bezier,
    background-color 250ms $transition-cubic-bezier;
}

.socials__icon:hover svg,
.socials__icon:focus svg {
  fill: $primary-color;
}

.socials__icon:hover,
.socials__icon:focus {
  background-color: $selection-color;
}
